[Unit]
Description=SCUI nginx container (plain systemd)
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
ExecStartPre=-/usr/bin/podman rm -f {{ container_name }}
ExecStart=/usr/bin/podman run --name {{ container_name }} -p {{ host_http_port }}:80 -p {{ host_https_port }}:443 \
  -e AAP_BASE_URL={{ aap_base_url | default('') }} \
  -e AAP_BEARER_TOKEN={{ aap_bearer_token | default('') }} \
  -e API_CLIENT_BEARER_TOKEN={{ api_client_bearer_token | default('') }} \
  -v {{ tls_cert_src }}:/etc/ssl/certs/site.crt:ro \
  -v {{ tls_key_src }}:/etc/ssl/private/site.key:ro \
  --log-driver=k8s-file --log-opt=max-size=10m --log-opt=max-file=5 \
  {{ (image_ref | length > 0) | ternary(image_ref, image_name) }}
ExecStop=/usr/bin/podman stop -t 10 {{ container_name }}
ExecStopPost=-/usr/bin/podman rm -f {{ container_name }}

[Install]
WantedBy=multi-user.target


